# GutCheck secrets
GutCheck/Secrets.swift

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm/

# Firebase config
**/GoogleService-Info.plist

# Logs
*.log

# macOS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# CocoaPods (if used later)
Pods/

# Carthage (if used later)
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Xcode Server
xcshareddata/

# Temporary files
*.swp
*.lock